body {
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
}

header img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem auto;
    /* Centra horizontalmente */
    border-radius: 50%;
    padding-top: 2rem;
}

h1 {
    text-align: center;
    padding-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgb(0, 0, 0);
    margin: 15px;
}

nav a:hover {
    background-color: rgb(63, 63, 163);
}

nav a {
    color: inherit;
    text-decoration: none;
}

.aboutme {
    text-align: center;
}

.imagenesaboutme {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imgaboutme {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.proyectos a {
    color: white;

}

.proyectos h2 {
    padding-top: 1rem;
    text-align: center;
}

.contacth2 {
    text-align: center;
    padding-top: 1rem;
}

.contacto {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 1rem;
}

.form_contact {
    display: flex;
    flex-direction: column;
}

/*Mis Mascotas */

.mascota img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.imagenesmascotas {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.mascota {
    display: flex;
    flex-direction: column;
}

.volver {
    color: white;
    display: flex;
    justify-content: center;
}